/* .circle {
    position: absolute;
    top: -870px;
    left: 450px;
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    background-color: teal;
} */

.title {
    position: relative;
    top: -50px;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.cep-search {
    padding-top: 5%;
    text-align: center;
}

.cep-label {
    font-size: xx-large;
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

#cep-input {
    width: 35%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: large;
}

.btn-search {
    background-color: crimson;
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    cursor: pointer;
}

/* .btn-search:hover {
    background-color: #bb1234;
} */

.btn-search:active {
    background-color: #bb1234;
    /* transform: translateY(2px); */
}

.cep-info {
    /* background-color: #bb1234; */
    margin: 0 auto;
    padding-top: 5%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.td-test {
    padding: 0 0 0 400px;
}